body {
  background-color: #f5f5f5;
  font-size: 1.4rem;
  padding-top: 4.4rem;
}

.header {
  z-index: 999;
}

/*************************导航样式***************************/
.header {
  width: 100%;
  height: 4.4rem;
  background: url("../images/header-bg.png") repeat-x;
  -webkit-background-size: 0.1rem 4.4rem;
  background-size: 0.1rem 4.4rem;

  position: fixed;
  left: 0;
  top: 0;
}

.header .icon-back,
.header .icon-menu {
  width: 4rem;
  height: 4rem;
  position: absolute;
  top: 0;
  padding: 10px;

  /*背景图的定位从内容开始计算*/
  -webkit-background-origin: content-box;
  background-origin: content-box;

  /*背景图从内容开始显示*/
  background-clip: content-box;
}

.header .icon-back {
  left: 0;
  background-position: -2rem 0;
}

.header .icon-menu {
  right: 0;
  background-position: -6rem 0;
}

.header h3 {
  width: 100%;
  height: 4.4rem;
  line-height: 4.4rem;
  text-align: center;
  /*background-color: red;*/
  padding-left: 4rem;
  padding-right: 4rem;
  overflow: hidden;
  font-size: 1.6rem;
  color: #666666;
}

.header form {
  width: 100%;
  height: 4.4rem;
  padding-left: 4rem;
  padding-right: 4rem;
}

.header form input {
  width: 100%;
  height: 3.4rem;
  border: 1px solid #e0e0e0;
  margin-top: 0.5rem;
  padding-left: 0.5rem;
}


/*安全提示*/
.jd-safe-tip {
  height: 3.6rem;
  line-height: 3.6rem;
  background-color: #fff;
  border-bottom: 1px solid #e0e0e0;
  text-align: center;
}

.jd-safe-tip .tip-word {
  position: relative;
  /*background-color: red;*/
  /*改变标签类型*/
  display: inline-block;
}

.jd-safe-tip .tip-word::before {
  content: '';
  width: 1.8rem;
  height: 1.8rem;
  background: url("../images/safe_icon.png") no-repeat;
  -webkit-background-size: 1.8rem 1.8rem;
  background-size: 1.8rem 1.8rem;

  position: absolute;
  left: -2.1rem;
  top: 0.9rem;
}

/*列表内容*/
.jd-shop-cart-list {
  padding-bottom: 6rem;
}

.jd-shop-cart-list section {
  margin-top: 1.5rem;
  border-top: 0.1rem solid #e0e0e0;
  background-color: #fff;
}

.jd-shop-cart-list section .shop-cart-list-title {
  display: flex;
  justify-content: space-between;
  height: 4.4rem;
  line-height: 4.4rem;
}

.jd-shop-cart-list section .shop-cart-list-title .left {
  flex: 1;

  /*background-color: red;*/
  padding-left: 8px;

  display: flex;
  /*justify-content: space-between;*/
  align-items: center;
}

.jd-shop-cart-list section .cart-logo {
  background: url("../images/buy-logo.png") no-repeat;
  -webkit-background-size: 1.5rem 1.5rem;
  background-size: 1.5rem 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 0.5rem;
}

.cart-check-box {
  /* background: url("../images/shop-icon.png ") no-repeat; */
  -webkit-background-size: 5rem 10rem;
  background-size: 5rem 10rem;
  width: 2rem;
  height: 2rem;
}

.cart-check-box[checked] {
  background-position: -2.5rem 0;
}

.jd-shop-cart-list section .shop-cart-list-title .right {
  /*background-color: red;*/
  flex: 1;
  color: red;
}

.shop-cart-list-con {
  /*background-color: red;*/
  /*伸缩布局*/
  display: flex;
  height: 10rem;
  border-bottom: 0.1rem solid #e0e0e0;
  margin-bottom: 0.7rem;
}

.shop-cart-list-con .left {
  /*background: purple;*/
  flex: 1;
  display: flex;
  /*justify-content: center;*/
}

.shop-cart-list-con .left a {
  display: inline-block;
  margin-top: 0.5rem;
  margin-left: 0.7rem;
}


.shop-cart-list-con .center {
  /*background: blue;*/
  flex: 3;
}

.shop-cart-list-con .center img {
  width: 100%;
  height: 85%;
}

.shop-cart-list-con .right {
  /*background: orangered;*/
  flex: 9;
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
  margin-right: 0.5rem;

  position: relative;
}

.shop-cart-list-con .right a {
  height: 4rem;
  line-height: 2rem;
  overflow: hidden;
  /*background-color: red;*/
  margin-bottom: 0.3rem;
}

.shop-cart-list-con .right .shop-deal span {
  border: 1px solid #e0e0e0;
  display: inline-block;
  width: 3rem;
  height: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
  float: left;
}

.shop-cart-list-con .right .shop-deal span:first-child {
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}

.shop-cart-list-con .right .shop-deal span:last-child {
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}

.shop-cart-list-con .right .shop-deal input {
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  float: left;
  width: 5rem;
  height: 2.5rem;
  text-align: center;
}

.shop-cart-list-con .right .shop-deal-right {
  width: 3rem;
  height: 3rem;
  /*background-color: red;*/
  position: absolute;
  right: 0.8rem;
  bottom: 0.2rem;
}

.shop-cart-list-con .right .shop-deal-right span:first-child {
  background: url("../images/delete_up.png") no-repeat;
  -webkit-background-size: 1.8rem 0.4rem;
  background-size: 1.8rem 0.4rem;
  width: 1.8rem;
  height: 0.4rem;
  display: block;
  margin: 0 auto;
}

.shop-cart-list-con .right .shop-deal-right span:last-child {
  background: url("../images/delete_down.png") no-repeat;
  -webkit-background-size: 1.7rem 1.7rem;
  background-size: 1.7rem 1.7rem;
  width: 1.7rem;
  height: 1.7rem;
  display: block;
  margin: -0.3rem auto 0;
}

.shop-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.shop-price .total {
  color: red;
}


/*面板*/
.panel {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, .6);
  z-index: 1000;
}

.panel-content {
  width: 84%;
  position: absolute;
  left: 8%;
  top: 200px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  padding: 15px;
}

.panel-title {
  text-align: center;
  font-size: 17px;
  padding-bottom: 30px;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 10px;
}

.panel-footer {
  width: 100%;
  height: 50px;
  /*background-color: green;*/
}

.panel-footer a {
  width: 120px;
  height: 40px;
  border: 1px solid #e0e0e0;
  margin-top: 10px;
  text-align: center;
  line-height: 40px;
  font-size: 18px;
  border-radius: 5px;
}

.panel-footer .cancel {
  float: left;

}

.panel-footer .submit {
  float: right;
  background-color: #E9232C;
  color: #fff;
  border: none;
}

.panel-is-show {
  display: none;
}


/*实现动画效果*/
.jump {
  animation: jump 1s ease;
}

@keyframes jump {
  0% {
    opacity: 0;
    transform: translateY(-300rem);
    -webkit-transform: translateY(-300rem);
  }

  25% {
    opacity: 0.3;
    transform: translateY(1rem);
    -webkit-transform: translateY(1rem);
  }

  50% {
    opacity: 0.6;
    transform: translateY(3rem);
    -webkit-transform: translateY(3rem);
  }

  80% {
    opacity: 0.8;
    transform: translateY(-1rem);
    -webkit-transform: translateY(-1rem);
  }

  90% {
    opacity: 1;
    transform: translateY(0.5rem);
    -webkit-transform: translateY(0.5rem);
  }

  100% {
    opacity: 1;
    transform: none;
    -webkit-transform: none;
  }
}

/*底部通栏*/
#tab_bar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 44px;
  background-color: #fff;

  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: 5px 5px 5px #000;
}

.tab-bar-left {
  display: flex;
  align-items: center;
  margin-left: 7px;
}

.tab-bar-left .select-all {
  margin-left: 8px;
  font-size: 16px;
}


.tab-bar-right .pay {
  width: 90px;
  height: 44px;
  background-color: #E9232C;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #fff;
}